<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canhub.cropper">

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <category android:name="android.intent.category.OPENABLE" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <application>
        <provider
            android:name=".CropFileProvider"
            android:authorities="${applicationId}.cropper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/library_file_paths" />
        </provider>
        <activity
            android:name=".CropImageActivity"
            android:exported="true" />
    </application>
</manifest>
