name: Build

on: [push, pull_request, merge_group]

jobs:
  build:
    name: JDK ${{ matrix.java_version }}
    runs-on: macOS-latest

    strategy:
      matrix:
        java_version: [17]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Setup gradle
        uses: gradle/gradle-build-action@v2

      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java_version }}

      - name: Build with Gradle
        run: ./gradlew licensee ktlint testDebug build --stacktrace
